{% extends "showroom/base.html" %}

{% block content %}

<div class="card shadow">

    <div class="card-header bg-danger text-white">
        <h3>Delete Car</h3>
    </div>

    <div class="card-body">

        <h5>
            Are you sure you want to delete
            <strong>{{ car.car_name }}</strong>?
        </h5>

        <form method="POST">

            {% csrf_token %}

            <button type="submit" class="btn btn-danger">
                Yes, Delete
            </button>

            <a href="/" class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}