{% extends "showroom/base.html" %}

{% block content %}

<div class="card shadow">

    <div class="card-header bg-warning text-dark">
        <h3>Edit Car</h3>
    </div>

    <div class="card-body">

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-warning">
                Update Car
            </button>

            <a href="/" class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}