{% extends "showroom/base.html" %}

{% block content %}

<h1 class="text-primary">
    Available Cars
</h1>

<a href="/add-car/" class="btn btn-success mb-3">
    + Add New Car
</a>

<table class="table table-bordered">

<thead class="table-dark">

<tr>

<th>Name</th>
<th>Company</th>
<th>Model</th>
<th>Color</th>
<th>Fuel</th>
<th>Price</th>
<th>Action</th>

</tr>

</thead>

<tbody>

{% for car in cars %}

<tr>

<td>{{ car.car_name }}</td>

<td>{{ car.company }}</td>

<td>{{ car.model }}</td>

<td>{{ car.color }}</td>

<td>{{ car.fuel_type }}</td>

<td>₹ {{ car.price }}</td>

<td>

<a href="/edit-car/{{ car.id }}/"
class="btn btn-warning btn-sm">

Edit

</a>

</td>

</tr>

{% empty %}

<tr>
    <td colspan="7" class="text-center">
        No Cars Available
    </td>
</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}