{% extends "showroom/base.html" %}

{% block content %}

<h1 class="text-primary mb-4">
    🚗 Available Cars
</h1>

<!-- Dashboard Cards -->
<div class="row mb-4">

    <div class="col-md-3">
        <div class="card bg-primary text-white shadow">
            <div class="card-body text-center">
                <h3>{{ total_cars }}</h3>
                <h5>Total Cars</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-success text-white shadow">
            <div class="card-body text-center">
                <h3>{{ total_customers }}</h3>
                <h5>Total Customers</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-warning text-dark shadow">
            <div class="card-body text-center">
                <h3>{{ total_sales }}</h3>
                <h5>Total Sales</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-danger text-white shadow">
            <div class="card-body text-center">
                <h3>₹ {{ total_revenue }}</h3>
                <h5>Total Revenue</h5>
            </div>
        </div>
    </div>

</div>

<!-- Stock Dashboard -->
<div class="row mb-4">

    <div class="col-md-6">
        <div class="card bg-info text-white shadow">
            <div class="card-body text-center">
                <h3>{{ total_stock }}</h3>
                <h5>Total Stock</h5>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card bg-dark text-white shadow">
            <div class="card-body text-center">
                <h3>{{ low_stock }}</h3>
                <h5>Low Stock Cars</h5>
            </div>
        </div>
    </div>

</div>

<!-- Extra Dashboard -->
<div class="row mb-4">

    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-body text-center">
                <h3>{{ total_companies }}</h3>
                <h5>Total Companies</h5>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-body text-center">
                <h3>₹ {{ total_value }}</h3>
                <h5>Total Car Value</h5>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">

        <div class="card-header bg-primary text-white">
             <h4>📊 Monthly Sales Analytics</h4>
       </div>

        <div class="card-body">

             <canvas id="salesChart"></canvas>

        </div>

    </div>

    <div class="card shadow mb-4">

    <div class="card-header bg-success text-white">
        <h4>💰 Monthly Revenue Analytics</h4>
    </div>

    <div class="card-body">

        <canvas id="revenueChart"></canvas>

    </div>

</div>

<div class="card shadow mb-4">

    <div class="card-header bg-warning">
        <h4>🚗 Company-wise Sales</h4>
    </div>

    <div class="card-body">

        <canvas id="companyChart"></canvas>

    </div>

</div>

<div class="card shadow mb-4">

    <div class="card-header bg-dark text-white">
        <h4>🏆 Top Selling Cars</h4>
    </div>

    <div class="card-body">

        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Car Name</th>
                    <th>Total Sold</th>
                </tr>
            </thead>

            <tbody>

                {% for car in top_cars %}

                <tr>
                    <td>{{ car.car__car_name }}</td>
                    <td>{{ car.total_sold }}</td>
                </tr>

                {% empty %}

                <tr>
                    <td colspan="2" class="text-center">
                        No Sales Available
                    </td>
                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

</div>

<!-- Search -->
<form method="GET" class="row g-2 mb-4">

    <div class="col-md-3">
        <input
            type="text"
            name="q"
            class="form-control"
            placeholder="Search"
            value="{{ request.GET.q }}">
    </div>

    <div class="col-md-2">
        <select name="company" class="form-select">

            <option value="">Company</option>

            {% for company in companies %}

            <option value="{{ company }}"
                {% if request.GET.company == company %}
                selected
                {% endif %}>
                {{ company }}
            </option>

            {% endfor %}

        </select>
    </div>

    <div class="col-md-2">
        <select name="fuel" class="form-select">

            <option value="">Fuel</option>

            {% for fuel in fuel_types %}

            <option value="{{ fuel }}"
                {% if request.GET.fuel == fuel %}
                selected
                {% endif %}>
                {{ fuel }}
            </option>

            {% endfor %}

        </select>
    </div>

    <div class="col-md-2">
        <select name="price" class="form-select">

            <option value="">Price</option>

            <option value="1">Below 5 Lakh</option>
            <option value="2">5-10 Lakh</option>
            <option value="3">Above 10 Lakh</option>

        </select>
    </div>

    <div class="col-md-2">
        <select name="stock" class="form-select">

            <option value="">Stock</option>

            <option value="available">Available</option>
            <option value="out">Out of Stock</option>

        </select>
    </div>

    <div class="col-md-1">
        <button class="btn btn-primary w-100">
            Go
        </button>
    </div>

</form>

<a href="/" class="btn btn-secondary mb-3">
    Reset Search
</a>

{% if perms.showroom.add_car %}
<a href="/add-car/" class="btn btn-success mb-3">
    + Add New Car
</a>
{% endif %}

<a href="{% url 'export_cars_excel' %}"
   class="btn btn-success mb-3">
    📊 Export Excel
</a>

<table class="table table-bordered table-hover">

    <thead class="table-dark">

        <tr>

            <th>Image</th>
            <th>Name</th>
            <th>Company</th>
            <th>Model</th>
            <th>Color</th>
            <th>Fuel</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Action</th>

        </tr>

    </thead>

    <tbody>

        {% for car in cars %}

        <tr>

            <td>

                {% if car.image %}

                <img
                    src="{{ car.image.url }}"
                    width="120"
                    height="80"
                    class="rounded">

                {% else %}

                No Image

                {% endif %}

            </td>

            <td>{{ car.car_name }}</td>
            <td>{{ car.company }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.color }}</td>
            <td>{{ car.fuel_type }}</td>
            <td>₹ {{ car.price }}</td>

            <td>

                {% if car.stock == 0 %}

                <span class="badge bg-danger">
                    Out of Stock
                </span>

                {% elif car.stock <= 2 %}

                <span class="badge bg-warning text-dark">
                    {{ car.stock }}
                </span>

                {% else %}

                <span class="badge bg-success">
                    {{ car.stock }}
                </span>

                {% endif %}

            </td>

            <td>

                <a href="/car/{{ car.id }}/"
                    class="btn btn-info btn-sm">
                    View
                </a>

                {% if perms.showroom.change_car %}
<a href="/edit-car/{{ car.id }}/"
   class="btn btn-warning btn-sm">
    Edit
</a>
{% endif %}

                {% if perms.showroom.delete_car %}
<a href="/delete-car/{{ car.id }}/"
   class="btn btn-danger btn-sm">
    Delete
</a>
{% endif %}
            </td>

        </tr>

        {% empty %}

        <tr>

            <td colspan="9" class="text-center">
                No Cars Available
            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

<script>

const ctx = document.getElementById('salesChart');

new Chart(ctx, {

    type: 'bar',

    data: {

        labels: {{ months|safe }},

        datasets: [{

            label: 'Monthly Sales',

            data: {{ sales_count|safe }},

            borderWidth: 1

        }]

    },

    options: {

        responsive: true,

        scales: {

            y: {

                beginAtZero: true

            }

        }

    }

});

const revenueCtx = document.getElementById('revenueChart');

new Chart(revenueCtx, {

    type: 'line',

    data: {

        labels: {{ months|safe }},

        datasets: [{

            label: 'Monthly Revenue',

            data: {{ revenue|safe }},

            borderWidth: 3,

            fill: false

        }]

    },

    options: {

        responsive: true,

        scales: {

            y: {

                beginAtZero: true

            }

        }

    }

});

const companyCtx = document.getElementById('companyChart');

new Chart(companyCtx, {

    type: 'pie',

    data: {

        labels: {{ company_names|safe }},

        datasets: [{

            data: {{ company_sales|safe }}

        }]

    },

    options: {

        responsive: true

    }

});

</script>

{% endblock %}