{% extends "showroom/base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-success text-white">
            <h3>📥 Import Cars from Excel</h3>
        </div>

        <div class="card-body">

            <form method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                {{ form.as_p }}

                <button class="btn btn-success">
                    Upload Excel
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}