{% extends "showroom/base.html" %}

{% block content %}

<h2 class="mb-4">📦 Purchase List</h2>

<a href="{% url 'add_purchase' %}" class="btn btn-success mb-3">
    + Add Purchase
</a>

<table class="table table-bordered table-hover">

    <thead class="table-dark">
        <tr>
            <th>Supplier</th>
            <th>Car</th>
            <th>Quantity</th>
            <th>Purchase Price</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

    {% for purchase in purchases %}

        <tr>
            <td>{{ purchase.supplier.name }}</td>
            <td>{{ purchase.car.car_name }}</td>
            <td>{{ purchase.quantity }}</td>
            <td>₹ {{ purchase.purchase_price }}</td>
            <td>{{ purchase.purchase_date }}</td>

            <td>
                <a href="{% url 'edit_purchase' purchase.id %}" class="btn btn-warning btn-sm">
                    Edit
                </a>

                <a href="{% url 'delete_purchase' purchase.id %}"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('Delete this purchase?')">
                    Delete
                </a>
            </td>
        </tr>

    {% empty %}

        <tr>
            <td colspan="6" class="text-center">
                No Purchases Found
            </td>
        </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}