{% extends "showroom/base.html" %}

{% block content %}

<h2 class="mb-4 text-primary">
     Sales Report
</h2>

<a href="{% url 'sales_report_pdf' %}"
   class="btn btn-danger mb-3">
    <i class="fas fa-file-pdf"></i>
    Download PDF
</a>

<a href="{% url 'sales_report_pdf' %}?start_date={{ start_date }}&end_date={{ end_date }}"
   class="btn btn-danger mb-3">
     Download PDF
</a>

<a href="{% url 'export_sales_excel' %}"
   class="btn btn-success mb-3">
    <i class="fas fa-file-excel"></i>
    Export Excel
</a>

<form method="GET" class="row mb-4">

    <div class="col-md-4">
        <label>Start Date</label>
        <input type="date"
               name="start_date"
               value="{{ start_date }}"
               class="form-control">
    </div>

    <div class="col-md-4">
        <label>End Date</label>
        <input type="date"
               name="end_date"
               value="{{ end_date }}"
               class="form-control">
    </div>

    <div class="col-md-4 mt-4">
        <button class="btn btn-primary">
            Search
        </button>
    </div>

    <a href="{% url 'sale_list' %}" class="btn btn-secondary mb-3">
    Reset Filters
</a>

</form>

<div class="card mb-4">
    <div class="card-body">
        <h4>Total Revenue : ₹ {{ total_revenue }}</h4>
    </div>
</div>

<form method="GET" class="row g-3 mb-4">

    <div class="col-md-3">
        <input type="text"
               name="q"
               class="form-control"
               placeholder="Invoice / Customer / Car"
               value="{{ request.GET.q }}">
    </div>

    <div class="col-md-3">
        <select name="employee" class="form-select">

            <option value="">All Employees</option>

            {% for emp in employees %}

            <option value="{{ emp.id }}"
                {% if request.GET.employee == emp.id|stringformat:"s" %}
                    selected
                {% endif %}>

                {{ emp.name }}

            </option>

            {% endfor %}

        </select>
    </div>

    <div class="col-md-2">
        <input type="date"
               name="start_date"
               class="form-control"
               value="{{ request.GET.start_date }}">
    </div>

    <div class="col-md-2">
        <input type="date"
               name="end_date"
               class="form-control"
               value="{{ request.GET.end_date }}">
    </div>

    <div class="col-md-2">
        <button class="btn btn-primary w-100">
            Search
        </button>
    </div>

</form>

<table class="table table-bordered table-striped">

    <thead class="table-dark">

        <tr>
            <th>Invoice</th>
            <th>Date</th>
            <th>Customer</th>
            <th>Car</th>
            <th>Employee</th>
            <th>Sale Price</th>
        </tr>

    </thead>

    <tbody>

        {% for sale in sales %}

        <tr>

            <td>{{ sale.invoice_number }}</td>
            <td>{{ sale.sale_date }}</td>
            <td>{{ sale.customer.name }}</td>
            <td>{{ sale.car.car_name }}</td>
            <td>{{ sale.employee.name }}</td>
            <td>₹ {{ sale.sale_price }}</td>

        </tr>

        {% empty %}

        <tr>
            <td colspan="6" class="text-center">
                No Sales Found
            </td>
        </tr>

        {% endfor %}

    </tbody>

</table>

<nav class="mt-4">

    <ul class="pagination justify-content-center">

        {% if sales.has_previous %}

        <li class="page-item">
            <a class="page-link"
               href="?page={{ sales.previous_page_number }}">
                Previous
            </a>
        </li>

        {% endif %}

        {% for num in sales.paginator.page_range %}

            {% if sales.number == num %}

            <li class="page-item active">
                <span class="page-link">
                    {{ num }}
                </span>
            </li>

            {% else %}

            <li class="page-item">
                <a class="page-link"
                   href="?page={{ num }}">
                    {{ num }}
                </a>
            </li>

            {% endif %}

        {% endfor %}

        {% if sales.has_next %}

        <li class="page-item">
            <a class="page-link"
               href="?page={{ sales.next_page_number }}">
                Next
            </a>
        </li>

        {% endif %}

    </ul>

</nav>

{% endblock %}